<!DOCTYPE html>
<html lang="en" class="h-100"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="d-flex flex-column h-100">
<footer class="footer mt-auto py-3 bg-light fixed-bottom">
    <nav class="container">
        <div style="text-align: center">
            <span th:each="pageNum : ${pageList}" th:inline="text">
                <a th:href="@{'/?page=' + ${pageNum}}">[[${pageNum}]]</a>
            </span>
        </div>
    </nav>
</footer>
</body>
</html>